# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Jon Heslop stuff
*.sublime-project
*.sublime-workspace
*.sass-cache
*.css.map
node_modules
npm-debug.log
bourbon/
*.jscsrc
node_modules
npm-debug.log
new/wp-content/languages/
new/wp-content/plugins/
new/wp-content/w3tc-config/

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
new/wp-config.php
new/wp-content/uploads/
new/wp-content/blogs.dir/
new/wp-content/upgrade/*
new/wp-content/backup-db/*
new/wp-content/advanced-cache.php
new/wp-content/wp-cache-config.php
new/wp-content/cache/*
new/wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
new/wp-content/object-cache.php
new/wp-content/mu-plugins/mu-plugin.php
new/wp-content/mu-plugins/slt-force-strong-passwords.php
new/wp-content/mu-plugins/limit-login-attempts
new/wp-content/mu-plugins/wpengine-common
new/wp-content/mysql.sql

# wp core (as of 3.4.1)
new/db-config.php
new/index.php
new/license.txt
new/readme.html
new/wp-activate.php
new/wp-app.php
new/wp-atom.php
new/wp-blog-header.php
new/wp-comments-post.php
new/wp-commentsrss2.php
new/wp-config-sample.php
new/wp-cron.php
new/wp-feed.php
new/wp-links-opml.php
new/wp-load.php
new/wp-login.php
new/wp-mail.php
new/wp-rdf.php
new/wp-rss.php
new/wp-rss2.php
new/wp-pass.php
new/wp-register.php
new/wp-settings.php
new/wp-signup.php
new/wp-trackback.php
new/xmlrpc.php
new/wp-admin
new/wp-includes
new/wp-content/index.php
new/wp-content/themes/twentyten
new/wp-content/themes/index.php
new/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi