$white : #fff;
$black : #000;
$darkgrey : lighten(#000, 20%);
$grey : lighten(#000, 50%);
$lightgrey : lighten(#000, 92%);
$offwhite : lighten(#000, 98%);

$green : #3EE590;
$red : #DC2182;
$yellow : #EBEC33;
$purple : #3125EB;

$fb : #3b5998;
$ig : #315074;