 .creature-crop {
  margin: 0 25%;
  width: 50%;

  @include breakpoint($tablet-landscape) {
    margin: 0 31.25% 1.5em;
    width: 37.5%;
  }
}

.type-millie_creature .entry-content p {
  text-align: left;
}

.scientific_name {
  text-align: center;
}