.entry-title {
  font-weight: bold;
  font-size: 1.25em;
  font-variant: small-caps;
  letter-spacing: .0625em;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
  a {
    // background-color: transparentize($lightgrey, .5);
    display: block;
    padding: .125em .375em 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px $offwhite, -1px -1px 1px $offwhite, 1px -1px 1px $offwhite, -1px 1px 1px $offwhite;
  }
}

.type-page .entry-title {
  font-size: 2em;
  margin: 1.5em 0 .75em;
}

.entry-categories {
  font-style: italic;
  
  a {
    color: $grey;
  }
}

.entry-content {
  text-align: center;
  width: 100%;

  @include breakpoint($tablet) {
    margin: 0 18.75%;
    width: 62.5%;
  }
  
  &:after {
    border-top: 1px solid $lightgrey;
    content: '';
    display: block;
    margin: 1.5em 25% .75em;
    width: 50%;
  }
}
