body { color: $black; font-family: $chaparral,sans-serif; font-weight: 300; font-size: $font-size / 16 * 1em; line-height: #{$line / $em}em; text-rendering: optimizeLegibility; overflow-x: hidden; }

p { margin: 0;
	&+p { margin-top: 1em; }
}
.small { font-size: .875em; }
ul { list-style-type: circle; }

// p, li { font-size: .875em; line-height: 1.5; }

a {
	&:link, &:visited { color: $darkgrey; text-decoration: none; }
	&:hover { color: saturate($darkgrey, 20%); }
}

header[role="banner"] { position: relative; z-index: 100; }

.content-container { margin-top: 1.5em; }

.social-icons { float: left; width: 100%; text-align: center; margin: 1.5em 0; }
.social-icon { @include size(1em); opacity: 1; @include transition(opacity .2s linear);
	&:hover { opacity: 1; }
}
.social-icon-link+.social-icon-link { margin-left: .5em; }

#logo { width: 50%; margin: 1em 25% 0; padding: 0 .75rem;
	@include breakpoint($moblet) { width: 25%; }
	@include breakpoint($tablet) { width: 20%; margin: 1em .75em 0 0; }
	img { max-width: 100%; }
}

.byline { width: 100%; text-align: center; margin: 2em 0;
	h1, h2 { color: $darkgrey; margin: 0; font-weight: normal; }
	h1 { font-size: 1.5em; }
}

.quote { font-style: italic; color: $grey; margin: 0;
	// border-left: .125em solid $lightgrey; 
	// p:first-letter { margin-left: -.25em; }
	&_big {
		p { font-size: 1.25em; line-height: 1.2; }
	}
  &-home { width: 100%; margin-bottom: 2em;
    @include breakpoint($tablet) { width: 37.5%; margin: 0 6.25%; }
  }
  &-home-new { width: 100%; margin-bottom: 2em; text-align: center;
    @include breakpoint($tablet) { width: 37.5%; margin: 1.5em 31.25% 0; }
  }
}

.home-page-image { width: 100%;
	@include breakpoint($moblet) { margin-top: -2em; }
	&.peacock { position: absolute; right: 0; z-index: 0; opacity: .25;
		@include breakpoint($moblet) { margin-top:-6em; }
	}
	&.colours {
		@include breakpoint($moblet) { width: 62.5%; margin-left: 18.75%; margin-right: 18.75%; }
	}
}

.contact-details { width: 100%; margin-top: 0;
	@include breakpoint($tablet) { width: 50%;}
	p { margin-bottom: .5em; }
}

.button { display: inline-block; text-decoration: none; background-color: $offwhite; border-radius: .25em; padding: .5em 1em; text-transform: uppercase; letter-spacing: .25em; -webkit-font-smoothing: antialiased; font-weight: bold; font-size: .875em; border: .125em solid $lightgrey; border-bottom-width: .25em; @include transition(all .2s linear); position: relative; margin-bottom: 1em;
	&:link, &:visited { color: $darkgrey; }
	&:hover { background-color: $green; }
	&:active { top: 1px; }
	&+.button { margin-left: 1em; }
	&_buy {
		&:link, &:visited { background-color: $offwhite; border-color: mix($offwhite, $grey); }
		&:hover { background-color: saturate($offwhite, 20%); border-color: saturate(mix($offwhite, $grey), 20%) }
	}
	&_social-instagram {
		&:link, &:visited { background-color: $ig; border-color: mix($ig, $black); }
		&:hover { background-color: saturate($ig, 20%); border-color: saturate(mix($ig, $black), 20%) }
	}
	&_social-facebook {
		&:link, &:visited { background-color: $fb; border-color: mix($fb, $black); }
		&:hover { background-color: saturate($fb, 20%); border-color: saturate(mix($fb, $black), 20%) }
	}
}

.millies-books { text-align: center; margin: 2em 0; }
.pad-right { margin-right: 1em; }

footer[role="content-info"] { text-align: center; margin-top: 2em; margin-bottom: 2em; color: $grey; }