.type-page .entry-title {
  font-size: 2em;
  margin: 1.5em 0 .75em;
}

.type-page .entry-content {
  position: relative;
  text-align: left;
}

.info-panel {
  display: none;

  &:target {
    display: block;
  }
}

.page-anchors {
  border-bottom: .125em solid $lightgrey;
  margin: 1.5em 0 0;
  padding: 0 0 .75em;
  text-align: center;

  @include breakpoint($tablet) {
    border-bottom: 0;
    border-right: .125em solid $lightgrey;
    list-style: none;
    margin: 0 1.5em 0 0;
    padding: 0 .75em 0 0;
    position: absolute;
    right: 100%;
    text-align: right;

    li {
      display: block;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .0625em;
    text-transform: lowercase;
  }
}