.acf-form {
  float: left;
  text-align: center;
  width: 100%;
  
  @include breakpoint($tablet-landscape) {
    margin: 0 25%;
    width: 50%;
  }
}

.acf-field .acf-label label {
  color: $grey;
  font-size: 1em!important;
  letter-spacing: .125em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.acf-image-uploader .view {
  width: 100%;
}

.acf-button, {
  box-sizing: border-box;
  width: 100%;

  &:focus {
    border-color: $green;
    outline: none;
  }
}

.acf-form-submit {
  @extend .wrapper;
  width: 100%;

  input {
    color: $darkgrey;
    font-family: $chaparral,sans-serif;
    font-weight: 600;
    width: 100%;
  }
}

.acf-input-wrap {
  input {
    border: 1px solid $lightgrey;
    text-align: center;

    &:focus {
      border-color: $green;
      outline: none;
    }
  }
}

.colouring-image {
  text-align: center;
  width: 100%;

  img {
    display: inline-block;
  }
}

.colouring-submit {
  margin-top: .75em;
  width: 100%;
}
.colouring_button {
  float: right;
  margin-top: .75em;
  
  @include breakpoint($tablet-landscape) {
    margin-top: -.75em;
  }
}

#message {
  text-align: center;

  &.updated {
    color: $green;
  }
}