.work-grid-item {
  margin-bottom: 1.5em;
  position: relative;
  text-align: center;
  width: 50%;

  @include breakpoint($tablet) {
    width: 25%;

    &:hover .work-grid-item-title-wrap {
      @include transform(translateY(-50%));
      opacity: 1;
    }

    &.millie_creature {
      width: 16.666666667%;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.work-grid-item-title-wrap {
  @include transition(all .1s linear);
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;

}

.no-touch .work-grid-item-title-wrap {
  opacity: 0;
}

.touch .work-grid-item-title-wrap {
  opacity: 1;
  @include transform(translateY(-50%));
}

.tax-colouring_book {
  .work-grid-item {
    figure {
      height: 0;
      padding-bottom: 100%;
    }
  }
}
