#menu {
  float: right;
  margin-top: 3em;
  margin-right: .75em;

  @include breakpoint-max($tablet) {
    text-align: center;
  }

	ul {
    margin: 0;
    padding: 0; }
	li {
    display: inline-block;
		&+li {
      margin-left: 1em;
    }
		&:after {
      content: "\2022";
      margin-left: 1em;
      position: relative;
      top: 1px; }
		&:last-of-type:after {
      display: none;
    }
		a {
			&:link,
      &:visited {
        border-bottom: 1px solid transparent;
        font-size: 1.125em;
        font-variant: small-caps;
        font-weight: bold;
				letter-spacing: .0625em;
        text-decoration: none;
        text-transform: lowercase;
			}

			&:hover {
				border-bottom: 1px solid $grey;
			}
		}
	}

  .current-menu-item {
      a {
        &:link, &:visited {
          border-bottom: 1px solid $grey;
        }
      }
  }
}


// Pagination
.pagination {
  float: left;
  width: 100%;
}

.nav-previous,
.nav-next {
  float: right;
  width: 50%;
}

.nav-next {
  text-align: right;
}
